<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foro</title>
    <link rel="stylesheet" href="url_for{{'static', filename=/static/style.css}}" />
    <link rel="preconnect" href="https://fontsgoogleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <body>
        <!-- secciomnabvar -->
        <nav>
          <a href="url_for{{('index.html')}}"><img src="url_for{{'static', filename='/images/logoo.png'}}" alt="" /></a>
          <div class="nav-links" id="navLinks">
            <i class="fa-solid fa fa-xmark" onclick="hideMenu()"></i>
            <ul>
              <li><a href="url_for{{('index.html')}}">HOME</a></li>
              <li><a href="url_for{{('categories.html')}}">CATEGORIES</a></li>
              <li><a href="url_for{{('news.html')}}">NEWS</a></li>
              <li><a href="url_for{{('user.html')}}"></a><img
              class="user-logo" id="user-logo" src="url_for{{'static', filename='/images/account_circle_24dp_FILL0_wght400_GRAD0_opsz24.svg'}}" alt="">
              </li>
            </ul>
          </div>
          <i class="fa-solid fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <!-- seccion header -->
        <header>
          <div class="text-box">
            <h1>Varied Topics Forum</h1>
            <p>
              Join the discussion and share your opinions on a variety of topics. <br> Find popular threads and engage with the community.
            </p>
            <a href="" class="hero-btn">Sign in</a>
            <a href="" class="hero-btn">Sign up</a>
          </div>
        </header>

      <!--------- seccion footer --------->
      <footer> 
        <p>Made Width <i class="fa-solid fa-heart"></i> by the &copy; Flaskonautas</p>
      </footer>

      <script src="url_for{{'static', filename='/scripts/script.js'}}"></script>
    </body>
</html>