{%extends "base.html" %}

{% block header %}
<header class="sub-header">
  <div class="text-box">
    <h1>Latest Posts</h1>
  </div>
</header>
{% endblock %}

{% block body %}
<section class="course">

  <body>
    <div class="divisor"></div>
    {% for post in posts %}
    <div class="post-container">
      <p style="color: rgb(41, 41, 41);">Category: {{post['category']}}</p>
      <h2>{{post['title']}}</h2>
      <p>Published by <span style="color: black">{{post['username']}}</span></p>
      <p>{{post['post']}}</p>
      <a href="/c/{{post['category']}}/post/{{post['id_post']}}"> 
        <button style="margin-left: 90%;">Go to post</button>
      </a>
    </div>
    <div class="divisor"></div>
    {% endfor %}
  </body>
</section>
{% endblock %}
