{% extends "base.html" %}

      {% block header %}

        <div class="formlogin">
          <h1>Inicio de sesión</h1>
          <form action="{{ url_for('login') }}" method="post">
            <div class="username">
              <input type="text" name="user" placeholder="Nombre de usuario" required>
            </div>
            <div class="password">
              <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="pwordrecovery">
              <a href="{{ url_for('recuperar') }}">¿Olvidó su contraseña?</a>
            </div>
            <input type="submit" value="Iniciar sesión">
          </form>
        </div>

        {% endblock %}