{% extends "base.html" %}
{% block title %}
<title>Login</title>
{% endblock %}


{% block header %}

<header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="{{category}}_message">{{ message }}</li>
        {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="formlogin">
          <h1>Inicio de sesión</h1>
          <form action="{{ url_for('login') }}" method="post">
            <div class="username">
              <input type="text" name="username" placeholder="Nombre de usuario" required>
            </div>
            <div class="password">
              <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="pwordrecovery">
              <a href="{{ url_for('recovery') }}">¿Olvidó su contraseña?</a>
            </div>
            <input type="submit" value="Iniciar sesión">
          </form>
        </div>
</header>
{% endblock %}