{%extends "base.html" %}

{% block title %}
<title>News</title>
{% endblock %}

{% block navbar %}
<nav>
  <a href="{{url_for ('index') }}"><img src="{{url_for('static', filename='/images/logoo.png')}}" alt="" /></a>
  <div class="nav-links" id="navLinks">
    <i class="fa-solid fa fa-xmark" onclick="hideMenu()"></i>
    <ul>
      <li><a href="{{url_for ('index') }}">HOME</a></li>
      <li><a href="{{url_for ('categories') }}">CATEGORIES</a></li>
      <li><a href="{{url_for ('latest_posts') }}">LATEST POSTS</a></li>
        <!-- si no hay usuario logueado debera estar con la clase login-active, en caso contrario debera estar en login-inactive-->
      <li><a href="{{url_for('login')}}" class="hero-btn login-active">Sign in</a></li>
      <li><a href="{{url_for('signup')}}" class="hero-btn login-active">Sign up</a></li>
        <!-- si el usuario esta logueado se mantiene igual con la clase logueado en caso contrario debera estar en no-logueado-->
      <li><a href="{{url_for ('get_user_data') }}" class="no-logueado"><span class="material-symbols-outlined icon-user ">account_circle</span></a></li>
    </ul>
  </div>
  <i class="fa-solid fa fa-bars" onclick="showMenu()"></i>
</nav>
{% endblock %}
<header>
  <div class="text-box">
    <h1>News</h1>
</div>
</header>
{% endblock %}
{% block body %}
    <!-- seccion news -->
      <section class="testimonials">
        <h1>Recently Published Posts</h1>
        <div class="row row-testimonial">
          <div class="testimonial-col">
            <img src="./images/user1.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Ivan</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user2.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Noami Alcain</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user1.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Fran Tapia</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user1.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Fran Tapia</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user2.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Guille Silva</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="{{url_for ('st  atic',filename='/images/user2.jpg') }}" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Bruno Lanzillota</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
        </div> 
      </section>
{% endblock %}
     