{%extends "base-con-nav.html" %}

{% block title %}
<title>News</title>
{% endblock %}

{% block header %}
<header>
  <div class="text-box">
    <h1>News</h1>
</div>
</header>
{% endblock %}
{% block body %}
    <!-- seccion news -->
      <section class="testimonials">
        <h1>Recently Published Posts</h1>
        <div class="row row-testimonial">
          <div class="testimonial-col">
            <img src="./images/user1.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Ivan</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user2.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Noami Alcain</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user1.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Fran Tapia</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user1.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Fran Tapia</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="./images/user2.jpg" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Guille Silva</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="{{url_for ('st  atic',filename='/images/user2.jpg') }}" alt="">
            <div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, culpa vitae quo quis placeat iure corporis debitis excepturi hic reiciendis?</p>
            <h3>Bruno Lanzillota</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            </div>
          </div>
        </div> 
      </section>
{% endblock %}
     