{%extends "base.html" %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{category}}_message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container mt-5">
    <div>
        <div class="col-lg-12">
            <!-- Itera sobre cada publicación -->
            {% for post in post %}
            <article>
                <div class="mb-4">
                    <!-- Boton para volver atras -->
                     <a href="{{ url_for('category', selected_category=post['category']) }}">
                        <button class="button-back">
                            <i class="fas fa-arrow-left"></i> Volver
                        </button>
                     </a>

                    <!-- Título de la publicación -->
                    <h1 class="fw-bolder mb-1">{{ post['title'] }}</h1>
                    <!-- Datos de la publicación -->
                    <div class="text-muted fst-italic mb-2"> Post # {{ post['id_post'] }} by {{ post['username'] }} in {{ post['category'] }}</div>
                    <div class="post-text mb-4">
                        {{post['post']}}
                    </div>
                </div>

                <!-- Contenido de la publicación -->
                <section class="mb-5" style="text-align: justify;">
                    {{ post['body'] }}
                  {% if post['image_link'] %}
                    <img style="width:100%;" src="{{ url_for('static', filename='/images/posts-images/' + post['image_link']) }}" />
                    {% endif %}
                </section>
                <!-- Sección de comentarios -->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Formulario de comentarios -->
                            <form action="{{ url_for('send_response')}}" method="post" class="mb-4">
                                <input type="hidden" name="post-id" value="{{ post['id_post'] }}" required>
                                <input type="hidden" name="post-category" value="{{ post['category'] }}" required>
                                <textarea class="form-control mb-2" name="response-content" rows="3" placeholder="Join the discussion and leave a comment!" required></textarea>
                                <!-- Botón de enviar comentario -->
                                <button type="submit" class="btn btn-primary btn-sm" id= "submit-response">Publish</button>
                            </form>
                            <!-- Comentarios -->
                            {% for response in responses %}
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0">
                                    <img class="rounded-circle" src="/static/images/usuario.png" alt="anonymous Profile Picture" />
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold">{{ response['username'] }}</div>
                                    {{ response['post'] }}
                                     {% if 'user' in session and session['user']['username'] == response['username'] %}
                                    <div class="edit-post">
                                        <a href="{{url_for('remove_response', id_response=response['id_response'], id_post=post['id_post'], post_category=post['category'])}}">Borrar</a>
                                        <a href="{{url_for('update_response', id_response=response['id_response'], id_post=post['id_post'], post_category=post['category'])}}">Editar</a>
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
