{% extends "base.html" %}

{% block title %}
<title>Recuperación de contraseña</title>
{% endblock %}

{% block header %}
<header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="{{category}}_message">{{ message }}</li>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="formlogin">
        <h1>Recuperación de contraseña</h1>
        <form action="{{ url_for('recovery') }}" method="post">
            <div class="username">
                <input type="text" name="user" placeholder="Nombre de usuario" required>
            </div>
            <div class="secquestions">
                <input type="text" name="secquestions1" placeholder="Color favorito" required>
            </div>
            <div class="secquestions">
                <input type="text" name="secquestions2" placeholder="Nombre de su primera mascota" required>
            </div>
            <div class="password">
                <input type="password" name="newpword" placeholder="Nueva contraseña" required>
            </div>
            <input type="submit" value="Cambiar contraseña">
            </form>
        </div>
</header>
{% endblock %}