{% extends "base.html" %}

{% block title %}
    <title>Registro</title>
{% endblock %}

{% block header %}
<header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{category}}_message">{{ message }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="formlogin">
            <h1>Registro</h1>
            <form action="{{ url_for('signup') }}" method="post">
                <div class="username">
                    <input type="text" name="username" placeholder="Nombre de usuario" required>
                </div>
                <div class="password">
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="sec_text">
                    <h3>Preguntas de seguridad</h3>
                </div>
                <div class="secquestions">
                    <input type="text" name="security_answer_one" placeholder="Color favorito" required>
                </div>
                <div class="secquestions">
                    <input type="text" name="security_answer_two" placeholder="Nombre de su primera mascota" required>
                </div>
                <input type="submit" value="Registrarse">
            </form>
        </div>
</header>
{% endblock %}