<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>

{%extends "base.html" %}

{% block body %}
<div>


    <article>
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <form action="{{ url_for('update_response', id_response=id_response, id_post=id_post, post_category=post_category)}}" method="post" class="mb-4">
                        <div class="modal-header d-flex align-items-center text-white">
                            <h6 class="modal-title mb-0" id="threadModalLabel"> Edit your response</h6>
                        </div>
                        <input type="hidden" name="id_response" value="{{ id_response }}" required>
                        <textarea class="form-control mb-2" name="post" rows="3" placeholder="write your response here...."  maxlength="255" required></textarea>
                        <!-- Botón de modificar comentario -->
                    <div>
                        <a type="button" class="btn btn-light" data-dismiss="modal" href="{{ url_for('responses', selected_category=post_category, id_post=id_post) }}">Cancel</a>
                        <button type="submit" class="btn btn-primary" id="submit-btn">Post</button>
                    </div>
                    </form>
    </article>



    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{category}}_message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}