{%extends "base.html" %}

{% block title %}
<title>User</title>
{% endblock %}

{% block header %}
<header class="sub-header">
  <div class="text-box">
    <h1>User Information</h1>
  </div>
</header>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="{{category}}_message">{{ message }}</li>
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- user info -->
    <section class="user-info">
        <h2>User Information</h2>
        <ul>
            <li><strong>Username:</strong> {{ user_data.username }}</li>
            <li>
                <strong>Password:</strong>
                <span id="password" class="hidden">{{ user_data.password }}</span>
                <span id="toggle-password" class="material-symbols-outlined">visibility</span>
            </li>
        </ul>
        <ul>
            <li><a href="{{ url_for('recovery') }}" class="hero-btn-user">Cambiar Contraseña</a></li>
            <li><li><a href="{{url_for('delete_account')}}" class="hero-btn-user">Borrar Cuenta</a></li></li>
        </ul>
    </section>
{% endblock %}

