{%extends "base.html" %}

{% block title %}
<title>User</title>
{% endblock %}

{% block navbar %}
<nav>
  <a href="{{url_for ('index') }}"><img src="{{url_for('static', filename='/images/logoo.png')}}" alt="" /></a>
  <div class="nav-links" id="navLinks">
    <i class="fa-solid fa fa-xmark" onclick="hideMenu()"></i>
    <ul>
      <li><a href="{{url_for ('index') }}">HOME</a></li>
      <li><a href="{{url_for ('categories') }}">CATEGORIES</a></li>
      <li><a href="{{url_for ('latest_posts') }}">LATEST POSTS</a></li>
        <!-- si no hay usuario logueado debera estar con la clase login-active, en caso contrario debera estar en login-inactive-->
      <li><a href="{{url_for('login')}}" class="hero-btn login-active">Sign in</a></li>
      <li><a href="{{url_for('signup')}}" class="hero-btn login-active">Sign up</a></li>
        <!-- si el usuario esta logueado se mantiene igual con la clase logueado en caso contrario debera estar en no-logueado-->
      <li><a href="{{url_for ('get_user_data') }}" class="no-logueado"><span class="material-symbols-outlined icon-user ">account_circle</span></a></li>
    </ul>
  </div>
  <i class="fa-solid fa fa-bars" onclick="showMenu()"></i>
</nav>
{% endblock %}

{% block header %}
<header>
  <div class="text-box">
    <h1>User Information</h1>
  </div>
</header>
{% endblock %}

{% block body %}
<!-- user info -->
    <section class="user-info">
        <h2>User Information</h2>
        <ul>
            <li><strong>Username:</strong> {{ username }}</li>
            <li><strong>Email:</strong> {{ email }}</li>
            <li><strong>Password:</strong> {{ password }}</li>
        </ul>
    </section>
{% endblock %}

