/* posts */

.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.card-body {
  padding: 1rem;
}

.bg-light {
  background-color: rgba(248, 249, 250, 1) !important;        
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.d-flex {
  display: flex !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.mt-5 {
  margin-top: 3rem !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.card {
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
}
