[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
flask_sqlalchemy = "*"
werkzeug = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
